<!--begin: modal para agregar o editar un nuevo periodo-->
<div class="modal fade" id="modalAddPriod" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <form name="formPeriod" ng-submit="AddPeriod(formPeriod)">
                <div class="modal-header">
                    <h5 class="modal-title" ng-show="!flagUpdate">Add a period</h5>
                    <h5 class="modal-title" ng-show="flagUpdate">Update a period</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm">Period name
                                    <span class="text-danger">*</span>
                                </label>
                                <input name="name_ap"
                                       ng-model="name_ap"
                                       ng-class="(formPeriod.name_ap.$invalid &&
                                                       formPeriod.name_ap.$dirty) ?
                                                       'form-control form-control-sm is-invalid'
                                                       : 'form-control form-control-sm'" maxlength="20"
                                       required autocomplete="off"/>
                                <div class="invalid-feedback">
                                    Please enter the period name
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm">Subject
                                    <span class="text-danger">*</span> </label>
                                <input name="specialty_ap"
                                       ng-model="specialty_ap"
                                       ng-class="(formPeriod.specialty_ap.$invalid &&
                                                       formPeriod.specialty_ap.$dirty) ?
                                                       'form-control form-control-sm is-invalid'
                                                       : 'form-control form-control-sm'" maxlength="30"
                                       required autocomplete="off"/>
                                <div class="invalid-feedback">
                                    Please enter the specialty
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label col-form-label-sm"> Description period </label>
                        <textarea name="description_ap"
                                  ng-model="description_ap"
                                  class="form-control form-control-sm" maxlength="200"
                                  rows="5" autocomplete="off" style="resize: none">
                        </textarea>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="col-form-label col-form-label-sm">Start date
                                        <span class="text-danger">*</span> </label>
                                    <input name="startdate_np" type="date"
                                           ng-model="startdate_np"
                                           ng-class="(formPeriod.startdate_np.$invalid &&
                                                       formPeriod.startdate_np.$dirty) ?
                                                       'form-control form-control-sm is-invalid'
                                                       : 'form-control form-control-sm'" required />
                                    <div class="invalid-feedback">
                                        Please select the start date
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="col-form-label col-form-label-sm">End Date
                                        <span class="text-danger">*</span></label>
                                    <input name="enddate_np" type="date"
                                           ng-model="enddate_np"
                                           ng-class="(formPeriod.enddate_np.$invalid &&
                                                       formPeriod.enddate_np.$dirty) ?
                                                       'form-control form-control-sm is-invalid'
                                                       : 'form-control form-control-sm'" required/>
                                    <div class="invalid-feedback">
                                        Please select the end date
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger boder-personalice"
                            ng-click="closeModalPeriod(formPeriod)">Cancel
                    </button>
                    <button type="submit" class="btn btn-sm btn-primary boder-personalice"
                            ng-disabled="formPeriod.$invalid"
                            ng-show="!flagUpdate">
                        Save changes
                    </button>
                    <button type="button" class="btn btn-sm btn-primary boder-personalice"
                            ng-disabled="formPeriod.$invalid" ng-click="updatePeriod(formPeriod)"
                            ng-show="flagUpdate">
                        Update changes
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end: modal para agregar o editar un nuevo periodo-->

<!--begin: modal para exportar la lista de periodos-->
<div class="modal fade" id="modalExportPeriods" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <form name="formExportPeriods" ng-submit="exportPeriods(formExportPeriods)">
                <div class="modal-header">
                    <h5 class="modal-title">Export Periods</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-form-label col-form-label-sm">Select export format
                            <span class="text-danger">*</span> </label>
                        <select name="exportFormat" ng-model="exportFormat"
                                ng-class="(formExportPeriods.exportFormat.$invalid &&
                                           formExportPeriods.exportFormat.$dirty) ?
                                           'form-control form-control-sm is-invalid'
                                           : 'form-control form-control-sm'" required>
                            <option value="">---</option>
                            <option value="1">Excel</option>
                            <option value="2">Word</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select the export format
                        </div>
                    </div>
                    <table class="none" id="listableperiod">
                        <thead>
                        <tr>
                            <th scope="col">Nº</th>
                            <th scope="col">PERIOD NAME</th>
                            <th scope="col">SUBJECT</th>
                            <th scope="col">START DATE</th>
                            <th scope="col">END DATE</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="dom_tablePeriod in tablePeriod">
                            <td> {{$index + 1}} </td>
                            <td>{{dom_tablePeriod.name_period}}</td>
                            <td>{{dom_tablePeriod.specialty_period}}</td>
                            <td>{{dom_tablePeriod.start_date_period}}</td>
                            <td>{{dom_tablePeriod.end_date_period}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger boder-personalice"
                            ng-click="closeModalExport(formExportPeriods)">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-sm btn-primary boder-personalice"
                            ng-disabled="formExportPeriods.$invalid">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end: modal para exportar la lista de periodos-->

<!--begin: modal para visualizar los detalles del periodo-->
<div class="modal fade" id="modalPeriodDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Period details</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm">Period Name</label>
                            <label class="form-control form-control-sm h-auto">{{perdioDetails.name_period}}</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm">Specialty</label>
                            <label class="form-control form-control-sm h-auto">{{perdioDetails.specialty_period}}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm">Description period</label>
                    <label class="form-control form-control-sm h-auto">{{perdioDetails.description_period}}</label>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm">Start date</label>
                            <label class="form-control form-control-sm h-auto">{{perdioDetails.start_date_period}}</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm">End Date</label>
                            <label class="form-control form-control-sm h-auto">{{perdioDetails.end_date_period}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-danger boder-personalice"
                        ng-click="closeModalPeriodDetails()">Exit
                </button>
            </div>
        </div>
    </div>
</div>
<!--end: modal para visualizar los detalles del periodo-->
    <div class="m-4">
        <div class="page-title d-flex flex-column me-5">
            <!--begin::Title-->
            <h5 class="d-flex flex-column text-dark fw-bolder fs-3 mb-0">Period</h5>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb fw-bold fs-7 small">
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    <a href="app.html#!/home" class="text-muted text-hover-primary">Home</a>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">Period</li>
                <!--end::Item-->
            </ul>
            <!--end::Breadcrumb-->
        </div>

        <!--begin: lista de periodos-->
        <div class="p-4 border rounded bg-white" style="max-height: 75vh">

            <div ng-show="tablePeriod.length === 0" class="text-center w-100">
                <h2 class="d-flex flex-column text-dark fw-bolder fs-3 mb-0">Welcome!</h2>
                <p class="text-gray-800 fs-4 fw-bold mb-10">There are not periods added yet.
                    <br>Kickstart your CRM by adding a your first period</p>
                <button class="btn boton-primario" ng-click="openModalPeriod()"> Add Period</button>

                <div class="text-center px-4">
                    <img class="mw-100" alt="" src="resources/img/img-app/newObject.png" width="380">
                </div>
            </div>

            <div ng-show="tablePeriod.length > 0">
                <div class="headerpro">
                    <div class="float-right">
                        <div class="flex-column" style="letter-spacing: 0.5rem;">
                            <button class="btn boton-primario-dos btn-sm" ng-show="countRowsSelected === 0"
                                    ng-click="openModalExport()">
                                <i class="fas fa-file-export"></i> Export
                            </button>
                            <button class="btn boton-primario btn-sm" ng-click="openModalPeriod()"
                                    ng-show="countRowsSelected === 0">
                                Add Period
                            </button>
                            <span class="text-dark mr-2 small" ng-show="countRowsSelected > 0"
                                  style="letter-spacing: normal">
                        {{countRowsSelected}} Selected </span>
                            <button class="btn btn-danger btn-sm boder-personalice" ng-show="countRowsSelected > 0"
                                    ng-click="deleteAllSelected()">
                                Delete Selected
                            </button>
                        </div>
                    </div>

                    <div class="col col-xl-3 col-md-6 p-0">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search period"
                                   ng-model="searchPeriod" name="searchPeriod">
                        </div>
                    </div>

                </div>

                <div class="table-responsive-xl table-bordered border rounded scroll" style="min-height: 12vh; max-height: 61vh">
                    <table class="table table-striped table-sm small rounded mb-0">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">
                                <div class="custom-control custom-checkbox">
                                    <input ng-model="periodAll"
                                           type="checkbox" class="custom-control-input" id="periodAllId"
                                           ng-click="selectedAllPeriod()">
                                    <label class="custom-control-label" for="periodAllId"></label>
                                </div>
                            </th>
                            <th scope="col">Nº</th>
                            <th scope="col">PERIOD NAME</th>
                            <th scope="col">SUBJECT</th>
                            <th scope="col">START DATE</th>
                            <th scope="col">END DATE</th>
                            <th scope="col" class="text-right">ACTION</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="dom_tablePeriod in tablePeriod | searchPeriod:searchPeriod">
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input"
                                           id="{{'check_' + dom_tablePeriod.id_period}}"
                                           ng-click="selectedRowDelete(dom_tablePeriod.id_period)">
                                    <label class="custom-control-label"
                                           for="{{'check_' + dom_tablePeriod.id_period}}"></label>
                                </div>
                            </td>
                            <td> {{$index + 1}} </td>
                            <td>{{dom_tablePeriod.name_period}}</td>
                            <td>{{dom_tablePeriod.specialty_period}}</td>
                            <td>{{dom_tablePeriod.start_date_period}}</td>
                            <td>{{dom_tablePeriod.end_date_period}}</td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <button type="button"
                                            class="btn btn-actions btn-sm boder-personalice dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"
                                            id="{{'btn_' + dom_tablePeriod.id_period.replace('=', '')}}">
                                        Actions
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right shadow" style=""
                                         aria-labelledby="{{'btn_' + dom_tablePeriod.id_period.replace('=', '')}}">
                                        <button class="dropdown-item"
                                                ng-click="selectedRow(dom_tablePeriod)">
                                            <i class="fas fa-pen-alt"></i> Update
                                        </button>
                                        <button class="dropdown-item"
                                                ng-click="openModalPeriodDetails(dom_tablePeriod)">
                                            <i class="far fa-eye"></i> View
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--end: lsita de periodos-->
        </div>
</div>