<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="app">
    <head>
        <title>Sing Up</title>
        <link rel="shortcut icon" href="resources/img/logo-app/logo.ico">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="resources/css/css_library/sb-admin-2.css">
        <link href="resources/css/css_library/open-iconic-bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="resources/css/css_library/toastr.min.css" rel="stylesheet" type="text/css"/>
        <link href="resources/css/css_app/css_botones.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="resources/css/css_app/index-app.css">

        <!--begin::Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap" rel="stylesheet">
        <!--end::Fonts-->

        <script src="resources/js/js_library/jquery.min.js"></script>
        <script src="resources/js/js_library/angular.js" type="text/javascript"></script>
        <script src="resources/js/js_library/store2.min.js" type="text/javascript"></script>
        <script src="resources/js/js_library/bootstrap.min.js" type="text/javascript"></script>
        <script src="resources/js/js_library/sweetalert2.min.js" type="text/javascript"></script>
        <script src="resources/js/js_library/toastr.min.js" type="text/javascript"></script>
    </head>
    <body ng-controller="ctrl_register">
        <div class="container mt-5 mb-5">
            <img class="mb-5" src="resources/img/logo-app/logoApp2duvca.png" alt="logo" width="150">
            <div class="m-auto w-50">
                <h4><strong> Sing Up </strong></h4>
                <span class="col-form-label-sm">
                    You do not have an account ?
                </span>
                <a class="col-form-label-sm" href="login.html"> Log In </a>
                <hr>
                <h6><strong> Person data </strong></h6>
                <form name="form_register" ng-submit="registerUser(form_register)">
                    <div class="form-group">
                        <label class="col-form-label col-form-label-sm"> Names: </label>
                        <span> <strong class="text-danger col-form-label-sm"> * </strong></span>
                        <input name="name_user" ng-model="name_user" maxlength="30" type="text" required
                               ng-class="(form_register.name_user.$invalid && form_register.name_user.$dirty) ?
                                                       'form-control form-control-sm is-invalid' : 'form-control form-control-sm'"/>
                        <div class="invalid-feedback">
                            Please enter your name
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label col-form-label-sm"> Last names: </label>
                        <span> <strong class="text-danger col-form-label-sm"> * </strong></span>
                        <input name="lastname_user" ng-model="lastname_user" maxlength="30" type="text" required
                               ng-class="(form_register.lastname_user.$invalid && form_register.lastname_user.$dirty) ?
                                                       'form-control form-control-sm is-invalid' : 'form-control form-control-sm'"/>
                        <div class="invalid-feedback">
                            Please enter your lastname
                        </div>
                    </div>
                    <h6><strong> Access credentials </strong></h6>
                    <div class="form-group">
                        <label class="col-form-label col-form-label-sm"> Email: </label>
                        <span> <strong class="text-danger col-form-label-sm"> * </strong></span>
                        <input name="email_user" ng-model="email_user" type="email" required
                               ng-class="(form_register.email_user.$invalid && form_register.email_user.$dirty) ?
                                                       'form-control form-control-sm is-invalid' : 'form-control form-control-sm'"/>
                        <div class="invalid-feedback">
                            Please enter your email
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label col-form-label-sm"> Password: </label>
                        <span> <strong class="text-danger col-form-label-sm"> * </strong></span>
                        <input name="password_user" ng-model="password_user" maxlength="10" autocomplete="new-password"
                               type="password" required ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{6,}/"
                               ng-class="(form_register.password_user.$invalid && form_register.password_user.$dirty) ?
                                                       'form-control form-control-sm is-invalid' : 'form-control form-control-sm'"/>
                        <div class="invalid-feedback">
                            Please enter your password
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label col-form-label-sm"> Confirm password: </label>
                        <span> <strong class="text-danger col-form-label-sm"> * </strong></span>
                        <input name="cpassword_user" ng-model="cpassword_user" maxlength="10" type="password" required
                               ng-class="(form_register.cpassword_user.$invalid && form_register.cpassword_user.$dirty) ?
                                                       'form-control form-control-sm is-invalid' : 'form-control form-control-sm'"/>
                        <div class="invalid-feedback">
                            Please enter your password
                        </div>
                    </div>

                    <div class="small"
                         ng-show="!form_register.password_user.$invalid && !form_register.password_user.$invalid.pattern">
                        <p class="text-success">
                            <span class="oi oi-circle-check"></span> Must contain at least 6 characters. </p>
                        <p class="text-success">
                            <span class="oi oi-circle-check"></span> Must contain at least one uppercase and one lowercase
                            letter. </p>
                        <p class="text-success ">
                            <span class="oi oi-circle-check"></span> Must contain at least one number. </p>
                    </div>
                    <div class="small"
                         ng-show="!form_register.password_user.$pristine && form_register.password_user.$error.pattern && form_register.password_user.$dirty">
                        <p class="text-danger">
                            <span class="oi oi-circle-x"></span> Must contain at least 6 characters. </p>
                        <p class="text-danger">
                            <span class="oi oi-circle-x"></span> Must contain at least one uppercase and one lowercase letter.
                        </p>
                        <p class="text-danger">
                            <span class="oi oi-circle-x"></span> Must contain at least one number </p>
                    </div>

                    <p ng-show="(form_register.password_user.$viewValue.length > 0 &&
                                            form_register.cpassword_user.$viewValue.length > 0) && (form_register.password_user.$viewValue ===
                                            form_register.cpassword_user.$viewValue)" class="text-success small">
                        <span class="oi oi-circle-check"></span> Passwords are the same
                    </p>

                    <p ng-show="(form_register.password_user.$viewValue.length > 0 &&
                                            form_register.cpassword_user.$viewValue.length > 0) && (form_register.password_user.$viewValue !==
                                            form_register.cpassword_user.$viewValue)" class="text-danger small">
                        <span class="oi oi-circle-x"></span> Passwords are not the same
                    </p>

                    <button type="submit" class="btn boton-primario btn-sm rounded-pill float-right"
                            ng-disabled="form_register.$invalid">
                        Register
                    </button>
                    <span> <strong class="text-danger col-form-label-sm"> * Mandatory fields </strong></span>

                </form>
                <hr>
            </div>
        </div>
        <script src="resources/js/js_global/js_global.js"></script>
        <script src="resources/js/js_global/jsAlertPersonalize.js"></script>
        <script src="resources/js/js-singup.js"></script>
    </body>
</html>
