<!--begin: modal para generar una nueva contrasenia-->
<div class="modal fade" id="modalChangePassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <form name="formExportsClass" ng-submit="wsAddPeriod(formExportsClass)">
                <div class="modal-header">
                    <h5 class="modal-title">Change password</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-form-label col-form-label-sm">Student name</label>
                        <input name="studentName"
                               ng-model="studentName"
                               class="form-control form-control-sm" maxlength="30"
                               autocomplete="off" readonly/>
                    </div>
                    <div class="text-center">
                        <div class="form-group boder-personalice">
                            <h1><span class="badge badge-danger boder-personalice">{{codeGenerate.password}}</span></h1>
                        </div>
                        <button class="btn btn-success btn-sm boder-personalice" ng-click="generatePassword()"> Generate
                            password
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger boder-personalice"
                            ng-click="closeModalPassword()">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-sm btn-primary boder-personalice"
                            ng-disabled="!codeGenerate.status">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end: modal para generar una nueva contrasenia-->

<!--begin: modal para cambiar el nombre del estudiante-->
<div class="modal fade" id="modalChangeName" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <form name="formUpdateStudentName" ng-submit="wsAddPeriod(formUpdateStudentName)">
                <div class="modal-header">
                    <h5 class="modal-title">Change student name</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-form-label col-form-label-sm">Student name</label>
                        <input name="studentNewName"
                               ng-model="studentNewName"
                               ng-class="(formUpdateStudentName.studentNewName.$invalid &&
                                                       formUpdateStudentName.studentNewName.$dirty) ?
                                                       'form-control form-control-sm is-invalid'
                                                       : 'form-control form-control-sm'"
                               required maxlength="30"
                               autocomplete="off"/>
                        <div class="invalid-feedback">
                            Please enter student name
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger boder-personalice"
                            ng-click="closeModalChangeStudentName()">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-sm btn-primary boder-personalice"
                            ng-disabled="formUpdateStudentName.$invalid">
                        Save changes
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end: modal para cambiar el nombre del estudiante-->

<div class="m-3 m-md-5">
    <div class="page-title d-flex flex-column me-5">
        <!--begin::Title-->
        <h5 class="d-flex flex-column text-dark fw-bolder fs-3 mb-0">View Students</h5>
        <!--end::Title-->
        <!--begin::Breadcrumb-->
        <ul class="breadcrumb fw-bold fs-7 small">
            <!--begin::Item-->
            <li class="breadcrumb-item text-muted">
                <a href="app.html#!/home" class="text-muted text-hover-primary">Home</a>
            </li>
            <!--end::Item-->
            <!--begin::Item-->
            <li class="breadcrumb-item text-muted">
                <a href="app.html#!/myclass" class="text-muted text-hover-primary">My class</a>
            </li>
            <!--end::Item-->
            <!--begin::Item-->
            <li class="breadcrumb-item text-muted">View Students</li>
            <!--end::Item-->
        </ul>
        <!--end::Breadcrumb-->
    </div>

    <div ng-show="tableStudents.length === 0" class="border p-3 list">
        <div class="text-center w-100">
            <h2 class="d-flex flex-column text-dark fw-bolder fs-3 mb-0">Welcome!</h2>
            <p class="text-gray-800 fs-4 fw-bold mb-10">There are not Student join.
                <br>Kickstart your CRM by adding a your first period</p>

            <div class="text-center px-4">
                <img class="mw-100" alt="" src="resources/img/img-app/newObject.png" width="400">
            </div>
        </div>
    </div>

    <div ng-show="tableStudents.length > 0">
        <h1><span class="badge badge-primary">Code # 1</span></h1>
        <h3><span class="badge badge-success">Ingles Técnico Superior</span></h3>
        <div class="col col-xl-3 col-md-6 p-0">
            <div class="form-group">
                <div class="input-group mt-2 mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-search"></i></div>
                    </div>
                    <input type="text" class="form-control form-control-sm" id="inlineFormInputGroup"
                           placeholder="Search student">
                </div>
            </div>
        </div>

        <!--begin: lista de estudiantes-->
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4" ng-repeat="dom_tableStudents in tableStudents">
                <div class="border p-3 list">
                    <div class="text-center">
                        <img class="mb-3" src="resources/img/img-app/perfil-defecto.svg" alt="Sin foto" width="100">
                        <br>
                        <span class="small">{{dom_tableStudents.lastname_person + ' ' + dom_tableStudents.name_person}}</span>
                        <br>
                        <span class="badge badge-primary">STUDENT</span>
                    </div>
                    <span class="small">TASK</span>
                    <div class="mr-3 ml-3">
                        <div class="row border boder-personalice text-center mb-2">
                            <div class="col"><span class="small font-weight-bold"> 20 </span></div>
                            <div class="col"><span class="small">DELIVERED</span></div>
                            <div class="col"><i class="fas fa-check text-success"></i></div>
                        </div>
                        <div class="row border boder-personalice text-center mb-2">
                            <div class="col"><span class="small font-weight-bold"> 20 </span></div>
                            <div class="col"><span class="small">PENDING</span></div>
                            <div class="col"><i class="fas fa-exclamation-triangle text-warning"></i></div>
                        </div>
                        <div class="row border boder-personalice text-center ">
                            <div class="col"><span class="small font-weight-bold"> 20 </span></div>
                            <div class="col"><span class="small">CLOSE</span></div>
                            <div class="col"><i class="fas fa-times text-danger"></i></div>
                        </div>
                    </div>
                    <div class="mr-3 ml-3 mt-3">
                        <div class="row">
                            <div class="col text-center">
                                <button class="btn btn-warning btn-sm boder-personalice text-dark"
                                        ng-click="openModalChangeStudentName(dom_tableStudents)"> Change name
                                </button>
                            </div>
                            <div class="col text-center">
                                <button class="btn btn-danger btn-sm boder-personalice"
                                        ng-click="modalChangePassword(dom_tableStudents)">
                                    Change password
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end: lista de estudiantes-->
    </div>

